.user-panel{background-image: url(../images/buttons/small/user.png);}
.browser-panel{background-image: url(../images/buttons/small/browser.png);}
.controller-panel{background-image: url(../images/buttons/small/controller.png);}
.grid-panel{background-image: url(../images/buttons/small/grid.png);}
.home-panel{background-image: url(../images/buttons/small/home.png);}

.add-btn{background-image: url(../images/buttons/small/add.png);}
.edit-btn{background-image: url(../images/buttons/small/edit.png);}
.remove-btn{background-image: url(../images/buttons/small/remove.png);}
.save-btn{background-image: url(../images/buttons/small/save.png);}
.cancel-btn{background-image: url(../images/buttons/small/cancel.png);}


