.chlorine-view-list {
    padding: 0 3px 0 3px;
}

.chlorine-view-list-item {
    margin-top: 1px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}

.chlorine-view-list .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}

.chlorine-view-list-item-hover {
    background-color: #eee;
}